:host{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}
.item__block{
  display: flex;
  width: 100%;
  /*flex-direction: column;*/
  justify-content: flex-start;
  align-items: center;
}
.myself{
  /*align-self: flex-end;*/
  /*align-items: flex-end;*/
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
}
.block__img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #008FEF;
  align-self: flex-end;
}
.block__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-width: 4em;
  max-width: 80%;
  margin: 0 .5em;
}
.block__msg{
  padding: .3em .5em;
  color: white;
}
.block__msg{
  transform: translateY(1.8em);
  transition: all .2s ease;
  font-size: 1.2em;
}
.block__name{
  font-size: 1em;
  transition: all .5s ease;  
  opacity: 0;
  transform: translateY(1.8em);
  white-space: nowrap;
}
.myself .block__name{
  text-align: right;
}
.myself .block__list{
  align-items: flex-end;
}
.item__block:hover .block__msg{
  transform: translateY(.5em);
}
.item__block:hover .block__name{
  transform: translateY(0);
  opacity: 1;
}
.hideMessage{
  max-height: 6.5em;
  overflow: hidden;
  position: relative;
  padding-right: 2.6%;
}
.hideMessage .material-icons{
  position: absolute;
  bottom: 0;
  right: 1.5%;
  cursor: pointer;
}