<div class="container main__box">
    <h4 class="col s12 main__title">
      {{'Register.Title' | translate}}
    </h4>
    <form class="col s12 form" #myForm="ngForm" novalidate (ngSubmit)="onSubmit($event)" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col col s12 l6 offset-l3">
          <input id="fullname" type="text" [(ngModel)]="fullName" required name="fullname" class="validate">
          <label for="fullname" data-error="wrong" data-success="right">{{'Register.Full' | translate}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col col s12 l6 offset-l3">
          <input id="email" type="email" [(ngModel)]="email" required name="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">{{'Register.Email' | translate}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col col s12 l6 offset-l3">
          <input id="password" type="password" class="validate" [(ngModel)]="password" required name="password">
          <label for="password">{{'Register.Password' | translate}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col col s12 l6 offset-l3">
          <input id="repeatPassword" type="password" class="validate" [(ngModel)]="repeatPassword" required name="repeatPassword" >
          <label for="repeatPassword">{{'Register.Repeat' | translate}}</label>
        </div>
      </div>
      <div class="row main__btn">
         <div class="file-field input-field">
          <div class="btn">
            <span>{{'Register.File' | translate}}</span>
            <input type="file" [(ngModel)]="imageFile" name="file" accept="image/*" (change)="uploadPhoto($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" required type="text" [(ngModel)]="imageUrl" name="fileurl" >
          </div>
        </div>
      </div>
      <div class="row main__btn">
         <button class="btn waves-effect waves-light" type="button" name="action" [disabled]="password !== repeatPassword || myForm.invalid" (click)="loginForm(fullName,email, password, imageUrl, $event)">{{'Register.Sign' | translate}}
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    


