:host{
  width: 100%;
}
.chat__box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat__box .btn{
  margin-top: .5em;
}
.chat__list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  margin-bottom:7em;
}
.list__item{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.message{
  padding-bottom: 0;
  max-height: 5em;
  overflow-y: auto;
}
.form-chat{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0!important;
  right: 0!important;
}
.form-chat > *{
  width: 80%;
  margin-bottom: 0;
}
.forms, .send-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms{
  position: relative;
}
.form-write{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  padding-left: 1em;
  animation: writing .8s ease infinite alternate-reverse;
}
.send-btn{
  width: 3em;
  height: 3em;
}
.send-btn .material-icons{
  line-height: inherit;
}
@keyframes writing{
  from{ 
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@media only screen and (max-width: 600px){
  .chat__box{
    align-items: stretch
  }
  .form-chat > *{
    width: 100%;
    font-size: 1em;
  }
  .message{
    font-size: 1.1em;
  }
  .send-btn{
    width: 2.5em;
    height: 2.5em;
  }
  .send{
    flex: 1;
  }
}