<div class="container chat__box">
  <button class="waves-effect waves-light btn" (click)="showMore()"><i class="material-icons right">cloud</i>{{'Message.More' | translate}}</button>
  <ul class="col s12 chat__list" #sendMessage>
    <li class="list__item" *ngFor="let item of items">
      <list-item [item]="item" [user]="user?.displayName" [userPhoto]="item.photoURL"></list-item>
    </li>
  </ul>
  <form class="col s12 form-chat">
    <div class="row forms">
      <span class="form-write grey-text" *ngIf="writing">User write a message</span>
      <div class="input-field col s12 send">
        <textarea id="textarea1" class="materialize-textarea message" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal"  [ngModelOptions]="{standalone: true}" ></textarea>
        <label for="textarea1">{{'Message.Mess' | translate}}</label>
      </div>
       <button class="waves-effect waves-circle waves-light btn-floating secondary-content send-btn" (click)="Send(msgVal)">
          <i class="material-icons">send</i>
       </button>
    </div>
  </form>
</div>