:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title{
  margin: 0;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image > *{
  max-height: 90vh;
  max-width: 90vh;
}